<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cowboy Blog - <%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/cowboy.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
  </head>
  <body>
    <div class="container">
    <%= if body_header do %>
      <%= body_header %>
    <% end %>
      <div class="row">
        <%= content %>
      </div>
    </div>
  </body>
</html>
